<head>
    <script type="module" crossorigin src="/modules/custom/uzc_gazes/vue/index.js"></script>
    <link rel="stylesheet" crossorigin href="/modules/custom/uzc_gazes/vue/index.css">
</head>
<div id="app"></div>