{% import '@uzc_gazes/graph-macros.html.twig' as graphMacros %}
{{ graphMacros.showTableLinks() }}
{{ graphMacros.openModalButton("graph-modal", "Attēlot grafikā") }}
{{ graphMacros.selectColumnsButton() }}
<h3 class="w-100 text-center mt-3 fw-bold fs-3">Apvienoto datu tabula</h3>
<table id="combined-measurements" class="table table-striped" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>Datums</th>
            <th>ID Lauka nr.</th>
            <th>Slejas nr.</th>
            <th>Lauciņa nr.</th>
            <th>Apstrādes tips</th>
            <th>Apstrādes darbība (UZC)</th>
            <th>AREI_Stende_[CO2] sek. (mg CO2 m-2 h-1)</th>
            <th>AREI_Stende_Soil Temp.</th>
            <th>AREI_Stende_Air temperature</th>
            <th>AREI_Stende_Rainfall</th>
            <th>AREI_Stende_Sun duration</th>
            <th>AREI_Stende_Moisture (%)</th>
            <th>AREI_Stende_Pressure (mb)</th>
            <th>AREI_Stende_Pressure (kPa)</th>
            <th>AREI_Stende_Error mode</th>
            <th>LBTU_CH4-C (mg C m-2 h-1) ar korekciju</th>
            <th>LBTU_CO2-C (mg C m-2 h-1) ar korekciju</th>
            <th>LBTU_N2O-N (mg N m-2 h-1) ar korekciju</th>
            <th>AREI Vid. pH H20</th>
            <th>AREI Vid. pH KCl</th>
            <th>AREI Vid. oksid. C, %</th>
            <th>AREI Vid. kopējais C, %</th>
            <th>AREI Vid. org. vielas, %</th>
            <th>AREI P2O5 vid, mg/kg</th>
            <th>AREI Vid. K2O, mg/kg</th>
            <th>Meteo Vid. temp C</th>
            <th>Meteo Vid. rel. mitr</th>
            <th>Meteo Vid. lietus MM</th>
            <th>Meteo Vid. lietus MM/h</th>
            <th>Meteo Vid. saules radiācija</th>
            <th>Meteo Vid. vējšs m/s</th>
            <th>Meteo Vid. vēja virziens</th>
            <th>Meteo Min. vēja virziens</th>
            <th>Meteo Max. vēja virziens</th>
        </tr>
    </thead>
</table>
{{ graphMacros.modal("graph-modal", "data-table-graph") }}

