{% import '@uzc_gazes/graph-macros.html.twig' as graphMacros %}
{{ graphMacros.showTableLinks() }}
{{ graphMacros.openModalButton("graph-modal", "Attēlot grafikā") }}
{{ graphMacros.selectColumnsButton() }}
<h3 class="w-100 text-center mt-3 fw-bold fs-3">LBTU Stendes meteo datu tabulu</h3>
<table id="stende-meteo-data" class="table table-striped" style="width:100%">
  <thead class="thead-dark">
  <tr>
    <th>Datums</th>
    <th>Temp C</th>
    <th>Augsnes mitrums (1)</th>
    <th>Augsnes mitrums (2)</th>
    <th>Relatīvais mitrums</th>
    <th>Gaisa spiediens, bārs</th>
    <th>Vējšs m/s</th>
    <th>THSW Indekss</th>
    <th>Saules radiācija</th>
    <th>Rasas punkts, C</th>
    <th>Siltuma indekss, C</th>
    <th>Wet Bulb, C</th>
    <th>Wind chill, C</th>
  </tr>
  </thead>
</table>
{{ graphMacros.modal("graph-modal", "data-table-graph") }}
