.pagination {
  --bs-pagination-color: black !important;
}
#main {
  max-width: 100% !important;
}
#content {
  width: 100% !important;
}
#graph-modal {
  --bs-modal-width: 90% !important;
}
.dt-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 12px;
}

#feedback {
  font-size: 1.4em;
}
#selectableXColumn .ui-selected {
  background: #198754;
  color: white;
}
#selectableXColumn, #selectableYColumn {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#selectableXColumn .ui-widget-content {
  display: flex;
  flex-flow: row;
}
#selectableXColumn .ui-widget-content .badge {
  background-color: rgba(64, 62, 62, 0.84) !important;
  margin-left: auto;
}
#selectableXColumn li {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.search-spinner {
  position: relative;
  left: 90%;
  top: -40%;
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-border-width: 0.1em;
  display: none;
}
#searchResultContainer {
  overflow-y: auto;
  max-height: 240px;
}
#searchResultContainer .dropdown-item {
  cursor: pointer;
}
#machinery-info-modal .modal-dialog {
  max-width: 85% !important;
}
#sourceTooltip span {
  background-color: #6c757d;
}
#sourceTooltip {
  margin-left: auto;
  display: none;
  cursor: pointer;
}
#tractorInfoContainer {
  display: flex;
  flex-flow: column;
}
.select-with-spinner .spinner-border{
  position: relative;
  left: 45%;
  top: -2.5rem;
  --bs-spinner-width: 1.5rem;
  --bs-spinner-height: 1.5rem;
  --bs-spinner-border-width: 0.125em;
  --bs-spinner-vertical-align: -1.125em;
  display: block;
}
.spinner-margin-fix {
  margin-bottom: -1rem !important;
}
select.form-control {
  margin-bottom: 0.5rem;
}